// call abstract folder to get color
// for this file, connect it to parent folder that holds the thing you need to use here
@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;

.banner {
  padding:2.5rem 0;
  &__wrapper {
    background-image: url("/dist/img/banner.webp");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }
  &__content {
    margin-left: 2rem;
  }
  &__text {
    max-width: 30rem;
    h1 {
      color: $clr-light;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
    }
    p {
      color: $clr-light;
      font-weight: 400;
      font-family: Candara;
      margin: 1rem 0;
    }
  }
  @include mediaQuery($break-lg) {
    &__content {
      margin-left: 8rem;
    }
    &__text {
      transform: translate(8rem, -5rem);
    }
  }
}

.best {
  padding:2.5rem 0;
  &__wrapper {
    margin: 4rem 0;
  }
  &__price {
    display: grid;
    grid-template-columns: 1fr;
    img {
      width: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__title {
      h2 {
        font-weight: 380;
        font-size: 5rem;
        letter-spacing: 0.5rem;
      }
      p {
        font-size: 1rem;
        letter-spacing: 1.5rem;
      }
    }
    &__social {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p {
        font-family: Candara;
        font-size: 1.7rem;
        letter-spacing: .1rem;
      }
      ul {
        display: flex;
        justify-content: center;
        gap: 7rem;
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          i {
            font-size: 4rem;
          }
        }
      }
    }
  }

  @include mediaQuery($break-lg) {
    &__price {
      grid-template-columns: 3fr 2fr;
      gap: 7rem;
      .best__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        &__social {
          gap: 4rem;
          ul {
            justify-content: flex-start;
            gap: 9rem;
            li {
              i {
                font-size: 3rem;
              }
            }
          }
        }
      }
    }
    &__text {
      h2 {
        font-weight: 400;
        font-size: 5rem;
      }
    }
  }
}

.foods {
  padding:2.5rem 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__card {
    display: flex;
    flex-direction: column-reverse;
    
    img {
      width: 100%;
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__from {
    display: flex;
    align-items: flex-end;
    h6 {
      font-size: 2rem;
      font-weight: 400;
      span {
        font-size: 4rem;
        color: $clr-primary;
        &:last-child {
          font-size: 2rem;
        }
      }
    }
  }
  &__detail {
    h3 {
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
    h1 {
      font-size: 5rem;
      font-weight: 350;
      letter-spacing: 0.5rem;
    }
    p {
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      font-family: Candara;
    }
    a {
      margin: 1rem 0;
    }
  }

  @include mediaQuery($break-lg) {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
    }
    &__card {
      max-width: 36rem;
      img {
        max-width: 40rem;
      }
      &:nth-child(odd) {
        flex-direction: column;
      }
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
  }
}

.orders {
  padding:2.5rem 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
  }
  &__card {
    background:#F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: $clr-primary;
        font-size: 5rem;
      }
      
    }
    p {
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      font-family: Candara;
      text-align: center;
    }
  }

  @include mediaQuery($break-lg) {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:0rem;
    }
    &__card {
      &:nth-child(odd) {
        flex-direction: column;
      }
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
    &__info {
      h3 {
        flex-direction: row-reverse;
        gap:2.5rem;
        font-size: 3rem;
      }
    }
  }
}

.promo {
  padding:2.5rem 0;
  &__wrapper {
    @include gridEven(1,2rem);
  }
  &__center {
    position: relative;
    @include centerAll;
    img {
      height: 400px;
      width: 100%;
    }
    &__text {
      position: absolute;
      text-align: center;
      h3 {
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 8px;
      }
      h2 {
        font-size: 4rem;
        font-weight: 400;
      }
      p {
        font-weight: 100;
      }
    }
  }
  &__side {
    position: relative;
    img {
      height: 680px;
      width: 100%;
    }
    &__text {
      position: absolute;
      z-index: 100;
      img {
        height: 10rem;
        width: 20rem;
      }
    }
    &#happy{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .promo__side__text {
        padding-bottom: 10rem;
        text-align: center;
        h3 {
          font-size: 4rem;
          font-weight: 400;
          letter-spacing: 8px;
        }
        h3,p{
          transform: translateY(-3.5rem);
        }
      }
    }
    &#off{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .promo__side__text {
        padding-top: 10rem;
        text-align: center;
        h3 {
          font-size: 4rem;
          font-weight: 400;
          letter-spacing: 8px;
        }
        h3,p{
          transform: translateY(-3.5rem);
        }
      }
    }
  }

  @include mediaQuery($break-lg){
    &__wrapper {
      @include gridUneven(1fr 2fr 1fr,2rem);
    }
    &__side#happy {
      order:-1;
      .promo__side__text {

        padding-bottom: 2rem;
        h3{
          font-size: 3rem;
        }
      }
    }
    &__side#off {
      .promo__side__text {

        padding-top: 2rem;
        h3{
          font-size: 3rem;
        }
      }
    }
    &__side,&__center {
      img.promo__bg {
        height: 500px;
      }
      h2{
        letter-spacing: unset;
        font-size: 7rem;
      }
    }
  }
}

.meal {
  padding:2.5rem 0;
  background: $clr-light;
  &__nav{
    ul {
      display: flex;
      max-width: 40rem;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      li.meal__nav__link {
          padding: 2rem;
          text-align: center;
          h4{
            font-weight: 400;
          }
          img {
            max-width: 5rem;
          }
          &.active{
            h4{
              color: $clr-primary;
            }
          }
      }
    }
  }
  &__content{
    .meal__nav__content{
      display: none;
      &.active{
        display:block;
      }
    }
  }

  @include mediaQuery($break-lg){
    &__nav{
      ul{
        display: flex;
        max-width: 100rem;
        justify-content: space-between;
        flex-wrap: nowrap;
        li.meal__nav__link {
          img{
            max-width: 100%;
          }
        }
      }
    }
  }
}

.links {
  padding: 2.5rem 0;
  &__item{
    margin-top: 3rem;
    h3 {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    ul.links__ig {
      @include gridEven(2,3rem);
      li {
        a{
          img{
            max-width: 100%;
          }
        }
      }
    }
    p {
      color: gray;
      letter-spacing: 2px;
    }
    form {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      input {
        width: 100%;
        border-radius: 5rem;
        padding: 2rem 3.5rem 2rem 1.5rem;
        border:1px solid rgb(227,223,223);
        &:focus{
          outline: none;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
      }
      a {
        transform: translateX(-3rem);
        color: $clr-dark;
        &:hover {
          color: $clr-primary;
        }
      }
    }
    &__social{
      display: flex;
      align-items: center;
      gap:3rem;
      li {
        a {
          font-size: 2rem;
          color: $clr-dark;
        }
        &:hover {
          a{
            color: $clr-primary;
          }
        }
      }
    }
    table {
      tr {
        height: 8rem;
        td:first-child {
          color: $clr-primary;
          width: 5rem;
          font-size: 2.5rem;
        }
        td:last-child {
          font-weight: 100;
        }
      }
      tr:nth-child(2) {
        td:last-child {
          font-size: 3rem;
          font-weight: 400;
          &:hover {
            color: $clr-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include mediaQuery($break-lg){
    &__wrapper {
      @include gridEven(3,5rem);
    }
    &__item {
      &:first-child{
        order: 3;
      }
      ul.links__ig {
        @include gridEven(4,3rem);
      }
    }
  }
}

.gMap {
  padding:2.5rem 0;
  .mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
}
.gmap_iframe {
    width:100%!important;
    height:400px!important;
}
}
