@use "../abstract/" as *;
@use "../base/" as *;


.footer {
  &__wrapper{
    border-top: 1px solid $clr-gray;
    padding: 2.5rem 0;
    @include gridEven(1,5rem);
  }
  img{
    width: fit-content;
    margin: 0 auto;
  }
  &__nav{
    @include gridEven(1,2rem);
    &__item{
      padding:0 2rem;
      h4{
        @include flexBetween;
        i {
          transition: .5s ease;
          &.open{
            transform: rotate(180deg);
            transition: .5s ease;
          }
        }
      }
      ul{
        margin-left: 2rem;
        max-height: 0rem;
        overflow: hidden;
        transition: .5s ease;
        li{
          margin-top: 2rem;
          a{
            color:gray;
            font-weight: 100;
          }
        }
        &.open{
          max-height: 50rem;
          transition: .5s ease;
        }
      }
    }
  }
  &__btn{
    @include centerAll;
    gap:2rem;
    a{
      width: 20rem;
    }
  }
  
  @include mediaQuery($break-lg){
    &__wrapper{
      @include gridEven(3,5rem);
      align-items: center;
      padding-top:5rem;
    }
    &__nav{
      @include gridEven(3,0rem);
      &__item{
        h4{
          i{
            display: none;
          }
        }
        ul{
          max-height: 50rem;
          margin-left: 0rem;
        }
      }
    }
    &__btn{
      display: flex;
      flex-direction: column;
    }
  }
}