@use "../abstract/" as *;
@use "../base/" as *;

.header {
  background: $clr-light;
  .branding {
    @include flexBetween;
    h4.details {
      display: none;
      i {
        color: $clr-primary;
        font-size: 2.5rem;
      }
    }
    .toggle__menu {
      background: $clr-primary;
      padding: 1rem;
      border-radius: 1rem;
      span {
        width: 2.5rem;
        height: 0.3rem;
        background-color: $clr-light;
        display: block;
        border-radius: 5rem;
        transition: 0.5s ease;
        &:nth-child(2) {
          margin: 0.5rem 0;
        }
      }
      &.open {
          span {
            &:first-child {
              transform: translateY(6px) rotate(225deg);
              transition: 0.5s ease;
            }
            &:last-child {
              transform: translateY(-10px) rotate(-225deg);
              transition: 0.5s ease;
            }
            &:nth-child(2) {
              opacity: 0;
            }
            
          }
      }

    }
  }
  &__details {
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    h4 {
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
      i {
        color: $clr-primary;
        font-size: 2.5rem;
      }
      span {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
  }

  &__actions {
    margin:2rem 0;
    display: flex;
    justify-content: space-between;
    ul.header__nav {
      background: #e3e2e2;
      position: absolute;
      top: 10rem;
      left: 0rem;
      width: 100%;
      max-height: 0rem;
      padding: 0rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      transition: 0.5s ease;
      gap: 2rem;
      &.open {
        max-height: 50rem;
        padding: 5rem;
        transition: 0.5s ease;
      }

      li {
        transition: 0.5s ease;
        position: relative;
        a {
          color: $clr-dark;
        }
        &::after {
          content: "";
          width: 4rem;
          height: 0.2rem;
          background-color: transparent;
          display: block;
          position: absolute;
          right: 25rem;
          top: 50%;
          transition: 0.5s ease;
        }
        &:hover {
          transform: translateX(-5rem);
          transition: 0.5s ease;
          &::after {
            content: "";
            background-color: $clr-primary;
            right: 10rem;
            transition: 0.5s ease;
          }
        }
      }
    }
    ul.header__social {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
      li {
        a {
          color: $clr-dark;
        }
      }
    }
    ul.header__extra {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
      li {
        a {
          color: $clr-dark;
        }
      }
    }
  }


  @include mediaQuery($break-lg) {
    .branding {
      h4.details {
        // display: --overwriting
        display: flex;
        gap: 2rem;
      }
      .toggle__menu {
        display: none;
      }
    }
    &__details {
      display: none;
    }
    &__actions {
      display: grid;
      grid-template-columns: 2.3fr 1fr .4fr;
      justify-items: flex-end;
      ul.header__nav {
        position: static;
        max-height: fit-content;
        display: flex;
        flex-direction: row;
        background: $clr-light;
        width: unset;
        justify-items: flex-end;
        li {
          &:hover {
            transform: translateX(0rem);
            a {
              color: $clr-primary;
            }
            &::after {
              content: "";
              display: none;
            }
          }
        }
      }
    }
  }
}
